@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

html {
    background-color: #fff;
    background-attachment: fixed;
    margin-left: auto;
    overflow-y: scroll;
    padding: 1.5em;
}

body {
    max-width: 1200px;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    font-size: 16px;
    font-family: "Segoe UI";
    padding: 1em;
}

/* For responsive layout */
@media only screen and (max-width: 950px) {
    body {
        max-width: 100%;
        margin-bottom: 1em;
        overflow-x: hidden;
    }
}

img {
    max-width: 100%;
}

.site-header {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
}

.site-header img {
    margin-left: 2em;
}

.site-navbar {
    background-color: #c1272d;
    text-transform: uppercase;
    font-family: "EB Garamond";
}

h1,
h2,
h3,
h4 {
    font-family: "EB Garamond";
}

h1 {
    text-transform: uppercase;
    font-size: 28px;
    border-bottom: solid 1px #c1272d;
}

ul li {
    display: inline;
}

.site-navbar a {
    display: inline-block;
    text-decoration: none;
    margin: 10px;
    font-size: 30px;
    color: #fff;
    opacity: 0.6;
}

.site-navbar a:visited {
    opacity: 0.6;
}

.site-navbar a:hover {
    opacity: 1;
}

.site-navbar a.active {
    opacity: 1;
}

.main {
    background-color: #f1f1f1;
    margin: 0 auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
}

.main img {
    margin-top: 1em;
    margin-bottom: 1em;
}

img[src$="me-image"] {
    max-width: 20em;
    float: right;
    margin-left: 10px;
}

img[src$="figcenter"] {
    margin: auto;
}

.main a {
    text-decoration: none;
}

.main a.link {
    color: grey;
    text-decoration: none;
}

.main a:visited {
    color: grey;
    text-decoration: none;
}

.main a:hover {
    color: #333;
    text-decoration: underline;
}

.site-footer {
    text-align: center;
    padding-top: 1em;
    margin-bottom: 2em;
}
